// imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// colors
$darkestmain:#2B3168;
$darkmain: #3D4381;
$main: #5A61A6;
$lightmain: #C3C7E7;
$lightestmain: #E5E7F3; 

$primary: rgb(255, 255, 255);
$button: rgb(0, 120, 247);
$button2: $lightestmain;
$hover: rgb(0, 192, 255);
$error: #ef5777;
$success: #1abc9c;
$light: #F5F8FA;
$medium: #657786;
$dark: #34495E;
$white: #ffffff;
// resets
body {
  margin: 0;
  color: $dark;
  background: #E6ECF0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  transition: 0.15s;

  &:focus {
    outline: none;
  }
}
// fonts
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0 0 0.5rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  //color: $primary;
  color: $primary;
  margin: 0;
  cursor: pointer;

  &:hover {
    color: lighten($main, 5%);
  }
}

// globals
section {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;

  @media screen and (max-width: 742px) {
    display: block;
  }
}

.col1,
.col2 {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1rem;

  @media screen and (max-width: 742px) {

  }
}

[v-cloak] {display: none}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($dark, 0.4);
  z-index: 9999;

  p {
    background: $white;
    width: 150px;
    text-align: center;
    margin: 40vh auto 0;
    padding: 40px 0;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba($dark, 0.5);
  }
}

.error-msg {
  margin-top: 1rem;
  text-align: center;
  p {
    color: $error;
    margin: 0;
  }
}

.button {
  background: $button;
  border: 0;
  outline: 0;
  color: $white;
  padding: 0.8rem 1rem;
  margin-left: 10px;
  min-width: 150px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background: lighten($main, 5%);
  }
  &:disabled {
    opacity: 0.5;

    &:hover {
      background: $main;
    }
  }
}

.text-center {
  text-align: center;
}

.inline {
  margin: 0;
  //padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}
.ex--center-mode {
  width: 600px;
  max-width: 100%;
  margin: auto;

}
.clear {
  clear: both;
}

form {
  font-size: 13.5px;
  label {
    display: block;
    font-size: 13.5px;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 13.5px;
    padding: 10px;
    outline: 0;
    border: 1px solid #e6ecf0;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 5px 0 rgba($dark, 0.2);
    }
  }
  select {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 10px;
    outline: 0;
    border: 1px solid #e6ecf0;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 5px 0 rgba($dark, 0.2);
    }
  }

  textarea {
    resize: none;
    border: 1px solid #e6ecf0;
    outline: 0;
    height: 100px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
}
// transitions
.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-leave-active {
  transition: opacity 0s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
