// navigation
header {
  position: relative;
  background: $main;
  box-shadow: 0 0 5px 0 rgba($dark, 0.5);
  z-index: 10;

  h3 {
    display: inline-block;
    color: white;
  }

  .top {
    flex-direction: row;
    display: flex;
    list-style: none;
    ul {
      float: none;
      text-align: left;
    }
  }

  .topButton {
    flex-direction: row;
    display: flex;
    list-style: none;
    ul {
      float: none;
    }
    li {
      color: white;
      font-size: 16px;
      border-width: 4px;
      border-color: $main;
      border-style: solid;
    }
    select {
    display: block;
    //width: 70%;
    margin-bottom: 1rem;
    font-size: 12px;
    //padding: 10px;
    outline: 0;
    border: 1px solid #e6ecf0;
    border-radius: 3px;

    &:focus {
      box-shadow: 0 0 5px 0 rgba($dark, 0.2);
    }
  }
  }

  .bottomButtons {
    flex-direction: row;
    display: flex;
    list-style: none;
    button {
      min-width: 10px;
      //margin-right: px;
      font-size: 12px;
    }
    li {
      border-width: 4px;
      border-color:$main;
      border-style: solid;
    }
    ul {
      float: none;
      text-align: right;
    }
  }
  .title {
    //margin-right: 10px;
    //height: 10px;
    width:20%;
    //flex-direction: column;
    border-width: 2px;
    //border-color:black;
    //border-style: solid;
    //float: left;
  }
  .search1 {
    width:50%;
    //flex-direction: column;
    border-width: 2px;
    //border-color: black;
    //border-style: solid;
    input {
      width: 100%;
      height: 70%;
    }
  }

  .search2 {
    width:50%;
    //flex-direction: column;
    border-width: 2px;
    //border-color: black;
    //border-style: solid;
    input {
      width: 100%;
      height: 35%;
    }
  }

  .button1 {
    button {
      margin-left: 10%;
      height: 90%;
      width: 50%;
    }
  }
  .button2 {
    button {
      margin-left: 10%;
      height: 90%;
      width: 50%;
    }
  }

  .navBar {
    flex-direction: row;
    border-width: 10px;
    ul {
    float: center;
    text-align: center;

    li {
      margin-top: 4px;
      margin-left: 6px;
      font-size: 24px;
        a {
          display: block;
          padding: 5px;
        }
      }
    }
  }


}


// login
#login {
  background: linear-gradient(to right, $lightestmain 0%, $lightestmain 50%, $white 50%, $white 100%);

  @media screen and (max-width: 742px) {
    height: 100vh;
    background: $white;
  }

  .col1,
  .col2 {
    height: 100vh;
    padding-top: 30vh;

    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }
  .col1 {
    color: $main;
    @media screen and (max-width: 742px) {
      display: none;
    }

    p {
      max-width: 490px;
      margin-top: 2rem;
      line-height: 1.8;
    }

    a {
      color: $lightestmain;
      text-decoration: underline;
    }
  }
  .signup-form {
    padding-top: 20vh;

    @media screen and (max-width: 742px) {
      padding-top: 10vh;
    }
  }
  .col2 {
    h1 {
      color: $main;
      margin-bottom: 2rem;
    }
    form {
      color: $main;
      max-width: 450px;
      margin: 0 auto;
    }
    .extras {
      float: right;
      text-align: right;
      a {
        display: block;
        margin-bottom: 0.5rem;
        color: $main;
      }
    }

    .password-reset {
      h1 {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 2rem;
      }
    }
  }
}

//registration
#registration {
  background: white;

  @media screen and (max-width: 742px) {
    height: 100vh;
    background: $white;
  }

  .col2 {
    height: 170vh;
    width: 120vh;
    padding-top: 15vh;

    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 15vh;
    }
  }
  .interests {
    height: 75vh;
    width: 120vh;
    padding-top: 15vh;
    padding-left: 20vh;

    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }
  .matched {
    height: 75vh;
    width: 120vh;
    margin-top: 15vh;

    @media screen and (max-width: 742px) {
      height: auto;
      padding-top: 20vh;
    }
  }

  .col2 {
    background: $lightestmain;
    h1 {
      margin-bottom: 2rem;
      color: $main;
    }
    form {
      color: $darkestmain;
      max-width: 300px;
      margin: 0 auto;
    }
    .button{
      margin-top: 50px;
      background-color: $main;
      font-weight: bold;
    }
    .extras {
      float: right;
      text-align: right;
      a {
        display: block;
        color: $main;
        margin-bottom: 0.5rem;
      }
    }
  }
  .interests {
    background: $white;
    h1 {
      margin-bottom: 2rem;
    }
  }

}

#dashboard {
  .banner {
    width: 100%;
    height: 30vh;
    //border-style: solid;
    background-color: $lightestmain;
    color:$darkmain;
    margin-top: 15px;
  }

  .bannerStuff {
    //margin-top: 20px;
    margin-left: 20px;
    padding-top: 20px;
  }

  .filter {
    flex-direction: column;
    display: flex;
    list-style: none;
    background-color: #b082d2;
    ul {
      flex-direction: column;
      float: none;
      //text-align: left;
      list-style: none;
    }
  }

  .comms {
    color: $darkestmain;
    border-color: black;
    border-style: solid;
    border-color:black;
    border-style: solid;
  }

  .popComms {
    margin-left: 20px;
    padding-top: 20px;
  }

  .slide2 {
    border-color:black;
    border-style: solid;
  }

  .slideBG {
    background-color: white;
  }

  section {
    padding: 2rem 0;
  }

  .col1 {
    flex: 0 0 30%;
    @media screen and (max-width: 1000px) {
      flex: 0 0 40%;
    }
  }
  .profile {
    background: $white;
    padding: 2rem;

    p {
      color: $medium;
      margin-bottom: 1rem;
    }
  }
  .create-post {
    p {
      margin-bottom: 0.5rem;
    }
    textarea {
      height: 200px;
      margin: 0;
    }
    .button {
      margin-top: 1rem;
      width: 100%;
      z-index: 5;
      border-radius: 0 0 3px 3px;
    }
  }
  .hidden-posts {
    text-align: center;
    border: 1px solid #e6ecf0;
    font-size: 14px;
    border-bottom: 0;
    background: $white;

    &:hover {
      background: #f5f8fa;
      cursor: pointer;
    }

    .new-posts {
      color: $primary;
    }
    p {
      padding: 15px;
      margin: 0 auto;
      color: darken($light, 25%);
    }
  }
  .post {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    font-size: 14px;
    padding: 1.5rem;
    background: $white;

    &:hover {
      background: #f5f8fa;
    }

    &:last-of-type {
      border-bottom: 1px solid $light;
    }

    h5 {
      margin: 0 0 0.5rem;
    }
    span {
      display: block;
      font-style: italic;
      font-size: 12px;
      margin-bottom: 0.5rem;
      color: darken($light, 25%);
    }
    p {
      margin: 0;
    }
    ul {
      list-style: none;
      margin: 1rem 0 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 1rem;
        font-size: 12px;
      }
    }
    a {
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      color: $button;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: lighten($hover, 5%);
      }
    }
  }
  .no-results {
    border: 1px solid #e6ecf0;
    background: $white;
    text-align: center;
    padding: 100px 1rem;
  }
  .c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark, 0.4);
    z-index: 999;

    .c-container {
      position: relative;
      max-width: 600px;
      margin: 30vh auto 0;
      padding: 2rem;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba($dark, 0.5);

      a {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
      }
      .button {
        margin-top: 1rem;
      }
    }
  }
  .p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark, 0.4);
    z-index: 999;

    .p-container {
      position: fixed;
      max-width: 600px;
      top: 2vh;
      bottom: 2vh;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba($dark, 0.5);
      overflow: auto;

      .close {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
      }

      .post {
        border: 0;
        border-bottom: 1px solid #e6ecf0;

        &:hover {
          background: $white;
        }
      }

      .comment {
        font-size: 14px;
        padding: 1.5rem;
        border-top: 1px solid #e6ecf0;

        &:first-of-type {
          border-top: 0;
        }

        h5 {
          margin: 0 0 0.5rem;
        }
        span {
          display: block;
          font-style: italic;
          font-size: 12px;
          margin-bottom: 0.5rem;
          color: darken($light, 20%);
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

#userinfo {
  section {
    padding: 2rem 0;
  }

  .col1 {
    flex: 0 0 30%;
    @media screen and (max-width: 1000px) {
      flex: 0 0 40%;
    }
  }
  .profile {
    background: $white;
    padding: 2rem;

    h5 {

    }

    p {
      color: $medium;
      margin-bottom: 1rem;
    }
  }
  .create-post {
    p {
      margin-bottom: 0.5rem;
    }
    textarea {
      height: 200px;
      margin: 0;
    }
    .button {
      margin-top: 1rem;
      width: 100%;
      z-index: 5;
      border-radius: 0 0 3px 3px;
    }
  }
  .hidden-posts {
    text-align: center;
    border: 1px solid #e6ecf0;
    font-size: 14px;
    border-bottom: 0;
    background: $white;

    &:hover {
      background: #f5f8fa;
      cursor: pointer;
    }

    .new-posts {
      color: $main;
    }
    p {
      padding: 15px;
      margin: 0 auto;
      color: darken($light, 25%);
    }
  }
  .post {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    font-size: 14px;
    padding: 1.5rem;
    background: $white;

    &:hover {
      background: #f5f8fa;
    }

    &:last-of-type {
      border-bottom: 1px solid $light;
    }

    h5 {
      margin: 0 0 0.5rem;
    }
    span {
      display: block;
      font-style: italic;
      font-size: 12px;
      margin-bottom: 0.5rem;
      color: darken($light, 25%);
    }
    p {
      margin: 0;
    }
    ul {
      list-style: none;
      margin: 1rem 0 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 1rem;
        font-size: 12px;
      }
    }
    a {
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      color: $button;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: lighten($hover, 5%);
      }
    }
  }
  .no-results {
    border: 1px solid #e6ecf0;
    background: $white;
    text-align: center;
    padding: 100px 1rem;
  }
  .user-form {
    border: 1px solid #e6ecf0;
    background: $white;
    text-align: center;
    padding: 50px 1rem;
  }
  .c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark, 0.4);
    z-index: 999;

    .c-container {
      position: relative;
      max-width: 600px;
      margin: 30vh auto 0;
      padding: 2rem;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba($dark, 0.5);

      a {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
      }
      .button {
        margin-top: 1rem;
      }
    }
  }
  .p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark, 0.4);
    z-index: 999;

    .p-container {
      position: fixed;
      max-width: 600px;
      top: 2vh;
      bottom: 2vh;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba($dark, 0.5);
      overflow: auto;

      .close {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
      }

      .post {
        border: 0;
        border-bottom: 1px solid #e6ecf0;

        &:hover {
          background: $white;
        }
      }

      .comment {
        font-size: 14px;
        padding: 1.5rem;
        border-top: 1px solid #e6ecf0;

        &:first-of-type {
          border-top: 0;
        }

        h5 {
          margin: 0 0 0.5rem;
        }
        span {
          display: block;
          font-style: italic;
          font-size: 12px;
          margin-bottom: 0.5rem;
          color: darken($light, 20%);
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

#newcomm {

  //height: 100%;
  section {
    padding: 2rem 0;
  }

  .col1 {
    .error-msg {
      margin-top: 1rem;
      text-align: center;
      p {
        color: $error;
        margin: 0;
      }
    }
    flex: 0 0 30%;
    @media screen and (max-width: 1000px) {
      flex: 0 0 40%;
    }
  }
  .profile {
    background: $white;
    padding: 2rem;

    h5 {

    }

    p {
      color: $medium;
      margin-bottom: 1rem;
    }
  }
  .create-post {
    p {
      margin-bottom: 0.5rem;
    }
    textarea {
      height: 200px;
      margin: 0;
    }
    .button {
      margin-top: 1rem;
      width: 100%;
      z-index: 5;
      border-radius: 0 0 3px 3px;
    }
  }
  .hidden-posts {
    text-align: center;
    border: 1px solid #e6ecf0;
    font-size: 14px;
    border-bottom: 0;
    background: $white;

    &:hover {
      background: #f5f8fa;
      cursor: pointer;
    }

    .new-posts {
      color: $main;
    }
    p {
      padding: 15px;
      margin: 0 auto;
      color: darken($light, 25%);
    }
  }
  .post {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    font-size: 14px;
    padding: 1.5rem;
    background: $white;

    &:hover {
      background: #f5f8fa;
    }

    &:last-of-type {
      border-bottom: 1px solid $light;
    }

    h5 {
      margin: 0 0 0.5rem;
    }
    span {
      display: block;
      font-style: italic;
      font-size: 12px;
      margin-bottom: 0.5rem;
      color: darken($light, 25%);
    }
    p {
      margin: 0;
    }
    ul {
      list-style: none;
      margin: 1rem 0 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 1rem;
        font-size: 12px;
      }
    }
    a {
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      color: $button;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: lighten($hover, 5%);
      }
    }
  }
  .no-results {
    border: 1px solid #e6ecf0;
    background: $white;
    text-align: center;
    padding: 100px 1rem;
  }
  .user-form {
    border: 1px solid #e6ecf0;
    background: $white;
    text-align: center;
    padding: 50px 1rem;
  }
  .c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark, 0.4);
    z-index: 999;

    .c-container {
      position: relative;
      max-width: 600px;
      margin: 30vh auto 0;
      padding: 2rem;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba($dark, 0.5);

      a {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
      }
      .button {
        margin-top: 1rem;
      }
    }
  }
  .p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark, 0.4);
    z-index: 999;

    .p-container {
      position: fixed;
      max-width: 600px;
      top: 2vh;
      bottom: 2vh;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba($dark, 0.5);
      overflow: auto;

      .close {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
      }

      .post {
        border: 0;
        border-bottom: 1px solid #e6ecf0;

        &:hover {
          background: $white;
        }
      }

      .comment {
        font-size: 14px;
        padding: 1.5rem;
        border-top: 1px solid #e6ecf0;

        &:first-of-type {
          border-top: 0;
        }

        h5 {
          margin: 0 0 0.5rem;
        }
        span {
          display: block;
          font-style: italic;
          font-size: 12px;
          margin-bottom: 0.5rem;
          color: darken($light, 20%);
        }
        p {
          margin: 0;
        }
      }
    }
  }
  .ncBanner {
    position: relative;
    width: 100%;
    height: 20vh;
    padding-left: 2%;
    margin-top: 1%;
    border-color: black;
    border-style: solid;
    border-width: 1px;



    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: $lightmain;

    .span {
      //display: inline-block;
      //vertical-align: middle;
      //line-height: normal;
      //border-color: red;
      //border-style: solid;
      //border-width: 2px;
    }

    h1 {
      //padding-left: 5px;
      //justify-content: center;
      font-size: 300%;
    }
  }
}

#udashboard {
  .banner {
    width: 100%;
    height: 30vh;
    //border-style: solid;
    background-color: $lightestmain;
    color: $darkmain;
    margin-top: 15px;
  }

  .bannerStuff {
    //margin-top: 20px;
    margin-left: 20px;
    padding-top: 20px;
  }

  .filter {
    flex-direction: column;
    display: flex;
    list-style: none;
    background-color: #b082d2;
    ul {
      flex-direction: column;
      float: none;
      //text-align: left;
      list-style: none;
    }
  }

  .comms {
    color: $darkestmain;
    border-color: black;
    border-style: solid;
    border-color:black;
    border-style: solid;
  }

  .popComms {
    margin-left: 20px;
    padding-top: 20px;
  }

  .slide2 {
    border-color:black;
    border-style: solid;
  }

  .slideBG {
    background-color: white;
  }

  section {
    padding: 2rem 0;
  }

  .col1 {
    flex: 0 0 30%;
    @media screen and (max-width: 1000px) {
      flex: 0 0 40%;
    }
  }
  .profile {
    height:200%;
    background: $white;
    //background-color: blue;
    padding: 2rem;

    p {
      color: $medium;
      margin-bottom: 1rem;
    }
  }
  .create-post {
    p {
      margin-bottom: 0.5rem;
    }
    textarea {
      height: 200px;
      margin: 0;
    }
    .button {
      margin-top: 1rem;
      width: 100%;
      z-index: 5;
      border-radius: 0 0 3px 3px;
    }
  }
  .hidden-posts {
    text-align: center;
    border: 1px solid #e6ecf0;
    font-size: 14px;
    border-bottom: 0;
    background: $white;

    &:hover {
      background: #f5f8fa;
      cursor: pointer;
    }

    .new-posts {
      color: $primary;
    }
    p {
      padding: 15px;
      margin: 0 auto;
      color: darken($light, 25%);
    }
  }
  .post {
    border: 1px solid #e6ecf0;
    border-bottom: 0;
    font-size: 14px;
    padding: 1.5rem;
    background: $white;

    &:hover {
      background: #f5f8fa;
    }

    &:last-of-type {
      border-bottom: 1px solid $light;
    }

    h5 {
      margin: 0 0 0.5rem;
    }
    span {
      display: block;
      font-style: italic;
      font-size: 12px;
      margin-bottom: 0.5rem;
      color: darken($light, 25%);
    }
    p {
      margin: 0;
    }
    ul {
      list-style: none;
      margin: 1rem 0 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 1rem;
        font-size: 12px;
      }
    }
    a {
      font-family: 'Open Sans', sans-serif;
      text-decoration: none;
      color: $button;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: lighten($hover, 5%);
      }
    }
  }
  .no-results {
    border: 1px solid #e6ecf0;
    background: $white;
    text-align: center;
    padding: 100px 1rem;
  }
  .c-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark, 0.4);
    z-index: 999;

    .c-container {
      position: relative;
      max-width: 600px;
      margin: 30vh auto 0;
      padding: 2rem;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba($dark, 0.5);

      a {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
      }
      .button {
        margin-top: 1rem;
      }
    }
  }
  .p-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($dark, 0.4);
    z-index: 999;

    .p-container {
      position: fixed;
      max-width: 600px;
      top: 2vh;
      bottom: 2vh;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 2rem;
      border-radius: 3px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba($dark, 0.5);
      overflow: auto;

      .close {
        position: absolute;
        top: 5px;
        right: 10px;
        padding: 5px;
      }

      .post {
        border: 0;
        border-bottom: 1px solid #e6ecf0;

        &:hover {
          background: $white;
        }
      }

      .comment {
        font-size: 14px;
        padding: 1.5rem;
        border-top: 1px solid #e6ecf0;

        &:first-of-type {
          border-top: 0;
        }

        h5 {
          margin: 0 0 0.5rem;
        }
        span {
          display: block;
          font-style: italic;
          font-size: 12px;
          margin-bottom: 0.5rem;
          color: darken($light, 20%);
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

// settings
#settings {
  padding: 2rem 0;

  .col1 {
    max-width: 600px;
    margin: 5vh auto 0;
    background: $white;
    padding: 2rem;
  }

  form {
    margin-top: 3rem;
  }

  .success {
    color: $success;
    margin: 0.5rem 0 -2rem;
  }

  .button {
    margin-top: 2rem;
  }
}

//Community Page
#community {
  background: $white;

  .commBanner{
    background: $lightmain;
    padding: 2%;

    h1{
      color: $white;
      font-size: 2em;
    }
  }

  .navInterests{
    background-color: $lightestmain;
    overflow: hidden;

    a {
        float: left;
        color: $darkmain;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    a:hover {
      background-color: $white;
      color: $darkestmain;
    }
    a.active {
      background-color: $main;
      color: white;
    }
  }
  .communityGuidelines {
    color: $darkestmain;
    background: $evenlightestmain;
    padding-top: 3vw;
    padding: 2vw;
  }
  .rules{
    padding-top: 1.5vw;
  }
  .activity{
    padding-top: 1.5vw;
  }

  .resourceCategories{
    padding: 2vw;
    color: $darkestmain;
  }



}
